{%extends "client/base.html"%}


{%block intro%}{%endblock%}
{%block home_state%}<li >{%endblock%}
{%if client%}}  
{%block talk_state%}<li>{%endblock%}
{%block session_state%}<li>{%endblock%}
{%else%}
{%block client_state%}<li>{%endblock%}
{%block active_state%}<li>{%endblock%}  
{%endif%}   
{%block faqs_state%}<li>{%endblock%}
{%block blog_state%}<li class="active">{%endblock%}
{%block message_state%}<li>{%endblock%}
{%block about_state%}<li>{%endblock%}

{%block content%}
<!--
<ul>
{% for post in object_list %}
    <li><a href="{% url 'blog_detail' post.pk %}">{{ post.title}}</a><br/>
    {{post.author}}</br>
    {{ post.body}}</li>
{% endfor %}
</ul>
-->

    <header class="major">
		<span class="date">{% now "jS F Y H:i" %}</span>
        <ul class="actions">
                <li><a href="{% url 'add_post' %}" class="button big">Write a Blog</a></li>
                {%if user.is_authenticated%}
                <li><a href="{% url 'personal-blogs' %}" class="button big">My Blogs</a></li>
                {%endif%}
        </ul>
	</header>




    <section class="posts">
        {%for post in all_posts%}
			<article>
            <header>
            <h3>{{post.title}}</h3>
            </header>
				<a href="#" class="image fit"><img src="{{post.picurl}}" alt="" /></a>
				<p>{{post.brief}}</p>
				<ul class="actions">
					<li><a href="{% url 'blog_detail' post.pk %}" class="button">Full Blog</a></li>
				</ul>
			</article>
        {%endfor%}
		
	    </section>
        <article class="post featured">
            <ul class="actions">
                <li><a href="{% url 'add_post' %}" class="button big">Write a Blog</a></li>
            </ul>
        </article>
		
    {% if all_posts.has_other_pages %}
        <ul class="icons alt">
        {% if all_posts.has_previous %}
        <li><a href="?page={{ all_posts.previous_page_number }}" class="icon fa-arrow-left"><span class="label">Previous</span></a>Previous</li>
        {% else %}
          <li><a href="#" class="icon fa-arrow-left"><span class="label">Previous</span></a>Previous</li>
        {% endif %}
        {% if all_posts.has_next %}
          <li>Next<a href="?page={{ all_posts.next_page_number }}" class="icon fa-arrow-right"><span class="label">Next</span></a></li>
        {% else %}
          <li>Next<a href="#" class="icon fa-arrow-right"><span class="label">Next</span></a></li>
        {% endif %}
          </ul>
    {% endif %}

{%endblock%}