
{% extends "client/base.html" %}
{% load socialaccount %}
{%block intro%}{%endblock%}
{%block home_state%}<li>{%endblock%}
{%block talk_state%}<li>{%endblock%}
{%block faqs_state%}<li>{%endblock%}
{%block blog_state%}<li>{%endblock%}
{%block about_state%}<li>{%endblock%}
      

{% block content %}

  <br><br>
  <a href="{% provider_login_url 'google' %}"><i class="fa fa-google" aria-hidden="true"></i><span> &nbsp; Sign in/ Sign up with Google</span></a>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  
  
{% endblock %}