{%extends "client/base.html"%}


{%block home_state%}<li >{%endblock%}
{%if client%}}  
{%block talk_state%}<li>{%endblock%}
{%block session_state%}<li>{%endblock%}
{%else%}
{%block client_state%}<li>{%endblock%}
{%block active_state%}<li>{%endblock%}  
{%endif%}   

{%block blog_state%}<li>{%endblock%}
	{%block message_state%}<li>{%endblock%}
{%block about_state%}<li>{%endblock%}


{%block content%}



<div id = "main">

	<ul class = "actions fit">
		<li><a href="#" class = "button fit small">Older messages</a></li>

	</ul>
	<p>

 {%for mess in convo%}

 <b>{{mess.sender.first_name}}: </b> {{mess.body}}
	<br/>


 {%endfor%}

</p>
	



<form method="POST">
	{% csrf_token %}

	<ul class = "actions fit">
		<li><input type="text" name="message-body" placeholder="Enter message" /></li>
		<li><input type="submit" class = "button special " value="Send Message" /></li>

	</ul>
	

</form>
</div>


{%endblock%}


