{%extends "client/base.html"%}


{%block home_state%}<li >{%endblock%}
{%if client%}}  
{%block talk_state%}<li>{%endblock%}
{%block session_state%}<li>{%endblock%}
{%else%}
{%block client_state%}<li>{%endblock%}
{%block active_state%}<li>{%endblock%}  
{%endif%}   

{%block blog_state%}<li>{%endblock%}
	{%block message_state%}<li>{%endblock%}
{%block about_state%}<li>{%endblock%}


{%block content%}



<div id = "main">

	{%if convo.has_next %}
	<ul class = "actions fit">
		<li><a href="?page={{ convo.next_page_number }}" class = "button fit small">Older messages</a></li>

	</ul>
	{%endif%}
	<p>

 {%for mess in message_list%}

 <b>{{mess.sender.first_name}}: </b> {{mess.body}}
	<br/>


 {%endfor%}

</p>
	
{%if convo.has_previous %}
<ul class = "actions fit">
		<li><a href="?page={{ convo.previous_page_number }}" class = "button fit small">Newer messages</a></li>
	</ul>
{%endif%}
<form method="POST">
	{% csrf_token %}

	<ul class = "actions fit">
		<li><textarea type="text" name="message-body" placeholder="Enter message" rows="1" ></textarea></li>
		<li><input type="submit" class = "button special " value="Send Message" /></li>

	</ul>
	

</form>
</div>


{%endblock%}


